


@font-face {
    font-family: Russianfont;
    src: url(./Dusha.ttf);
}

div {
    font-family: russiaFont;
}
body{
	background-image: url(https://hdwallsource.com/img/2014/7/nba-logo-wallpaper-41588-42564-hd-wallpapers.jpg);
	text-align: center;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}
#main{
    padding:10%;
}
#gameboard{
    opacity: 70%;
}